@import "variables";

body {
  background-color: $bg-color;
  font-family: "Verdana", sans-serif;
  margin: 0px;
  &.no-scroll {
    overflow: hidden;
  }
}
.container {
  max-width: 1236px;
  margin: 0 auto;
  min-height: calc(100vh - 106px);
  table {
    border-collapse: collapse;
    width: 100%;
    thead{
      tr{   
        background-color: $primary-color !important;
        color: #fff;
      }
    }
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    tr:nth-child(odd) {
      background-color: #fff;
    }
    td {
      .active {
        color: #46c346;
        font-size: 20px;
      }
      .disabled {
        color: red;
        font-size: 20px;
      }
      .delete{
        padding:5px 10px;
        border-radius: 5px;
        color: #fff;
        border: none;
        transition: .5s;
        background-color: rgb(209, 65, 65);
        cursor: pointer;
        &:hover{
          background-color: rgb(137, 40, 40);
        }
      }
      .disciplines, .courses{
        padding:5px 10px;
        border-radius: 5px;
        color: #fff;
        border: none;
        transition: .5s;
        background-color: $primary-color;
        cursor: pointer;
        &:hover{
          background-color: $primary-color-dark;
        }
      }
    }
  }
  .message {
    position: absolute;
    background-color: $primary-color;
    color: #fff;
    padding: 8px 15px;
    right: 0;
    top: 80px;
    button {
      background-color: #f2eaea57;
      border: none;
      padding: 0px 7px 1px 6px;
      font-size: 20px;
      color: #fff;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
h1 {
  border-bottom: solid 2px #0000003c;
  line-height: 50px;
}
.userInfo, .footer {
  display: flex;
  justify-content: end;
  padding: 5px 20px;
  background-color: $primary-color;
  color: #fff;
  gap: 5px;
  p {
    margin: 0;
    font-size: 14px;
  }
}
nav {
  background-color: #fff;
  padding: 5px 20px;
  box-shadow: 0px 2px 5px 0px #00000045;
  .routers {
    display: flex;
    justify-content: end;
    gap: 10px;
    a {
      color: #0e72cf;
      font-weight: 600;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: #05325b;
        text-decoration: underline;
      }
    }
  }
}
.sec-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 5px 12px 0px #0000001c;
    h3 {
      text-align: center;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
      input {
        height: 20px;
        border: solid 1px $primary-color;
        border-radius: 5px;
        padding-inline: 5px;
      }
    }
    button[type="submit"] {
      cursor: pointer;
      padding: 8px 10px;
      background-color: $primary-color;
      border: solid 1px $primary-color;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      transition: 0.5s;
      &:hover {
        background-color: $primary-color-dark;
      }
    }
    .error {
      color: $error-text;
      background-color: $bg-error;
      text-align: center;
      padding: 8px 10px;
      border-radius: 5px;
    }
  }
}
.quickLinks {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  &__card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #00000045;
    min-width: 250px;
    max-width: 269px;
    &__title {
      font-weight: 600;
    }
    &__description {
      font-style: italic;
      color: #9c9c9c;
    }
    &__router {
      text-decoration: none;
      color: #fff;
      background-color: $primary-color;
      padding: 5px 10px;
      transition: 0.5s;
      border-radius: 5px;
      &:hover {
        background-color: $primary-color-dark;
      }
    }
    p {
      margin: 0;
    }
  }
}
.managementConfigs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  button {
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: $primary-color-dark;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup, .disciplinePopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  h2{
    text-align: center;
  }
  .close-btn {
    display: block;
    margin: 10px auto 0;
    padding: 5px 10px;
    background: $primary-color;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  .schoolForm {
    &__professor, &__user, &__discipline, &__student, &__hub, &__course {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      width: 300px;
      box-shadow: 0px 5px 12px 0px #0000001c;
      h3 {
        text-align: center;
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        input {
          height: 20px;
          border: solid 1px $primary-color;
          border-radius: 5px;
          padding-inline: 5px;
        }
      }
      button[type="submit"] {
        cursor: pointer;
        padding: 8px 10px;
        background-color: $primary-color;
        border: solid 1px $primary-color;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
          background-color: $primary-color-dark;
        }
      }
      .error {
        color: $error-text;
        background-color: $bg-error;
        text-align: center;
        padding: 8px 10px;
        border-radius: 5px;
      }
    }
    
  }
}
#disciplinePopup, #coursePopup{
  .popup-header{
    display: flex;
    h2{
      flex-basis: 100%;
    }
    .close-btn{
      height: fit-content;
      position: absolute;
      right: 20px;
      top: 8px;
    }
  }

}
