body {
  background-color: #f0f8ff;
  font-family: "Verdana", sans-serif;
  margin: 0px;
}
body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
}
.container table {
  border-collapse: collapse;
  width: 100%;
}
.container table td,
.container table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.container table tr:first-child {
  background-color: #3498db !important;
  color: #fff;
}
.container table tr:nth-child(even) {
  background-color: #dddddd;
}
.container table tr:nth-child(odd) {
  background-color: #fff;
}
.container table td .active {
  color: #46c346;
  font-size: 20px;
}
.container table td .disabled {
  color: red;
  font-size: 20px;
}

h1 {
  border-bottom: solid 2px rgba(0, 0, 0, 0.2352941176);
  line-height: 50px;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 5px 20px;
  background-color: #3498db;
  color: #fff;
  gap: 5px;
}
.userInfo p {
  margin: 0;
  font-size: 14px;
}

nav {
  background-color: #fff;
  padding: 5px 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2705882353);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2705882353);
}
nav .routers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
}
nav .routers a {
  color: #0e72cf;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .routers a:hover {
  color: #05325b;
  text-decoration: underline;
}

.sec-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.sec-login form {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1098039216);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1098039216);
}
.sec-login form h3 {
  text-align: center;
}
.sec-login form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.sec-login form > div input {
  height: 20px;
  border: solid 1px #3498db;
  border-radius: 5px;
  padding-inline: 5px;
}
.sec-login form button[type=submit] {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #3498db;
  border: solid 1px #3498db;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sec-login form button[type=submit]:hover {
  background-color: #0b5c92;
}
.sec-login form .error {
  color: rgb(157, 26, 26);
  background-color: rgb(253, 191, 191);
  text-align: center;
  padding: 8px 10px;
  border-radius: 5px;
}

.quickLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.quickLinks__card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid #3498db;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2705882353);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2705882353);
  min-width: 250px;
}
.quickLinks__card__title {
  font-weight: 600;
}
.quickLinks__card__description {
  font-style: italic;
  color: #9c9c9c;
}
.quickLinks__card__router {
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  padding: 5px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}
.quickLinks__card__router:hover {
  background-color: #0b5c92;
}
.quickLinks__card p {
  margin: 0;
}

.managementConfigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.managementConfigs button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.managementConfigs button:hover {
  background-color: #0b5c92;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}
.popup h2 {
  text-align: center;
}
.popup .close-btn {
  display: block;
  margin: 10px auto 0;
  padding: 5px 10px;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.popup .schoolForm__professor {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1098039216);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1098039216);
}
.popup .schoolForm__professor h3 {
  text-align: center;
}
.popup .schoolForm__professor > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.popup .schoolForm__professor > div input {
  height: 20px;
  border: solid 1px #3498db;
  border-radius: 5px;
  padding-inline: 5px;
}
.popup .schoolForm__professor button[type=submit] {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #3498db;
  border: solid 1px #3498db;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.popup .schoolForm__professor button[type=submit]:hover {
  background-color: #0b5c92;
}
.popup .schoolForm__professor .error {
  color: rgb(157, 26, 26);
  background-color: rgb(253, 191, 191);
  text-align: center;
  padding: 8px 10px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */